body {
  margin: 0px;
  font-family: "Manrope", sans-serif;
}

header {
  height: 40px;
  font-family: "Dancing Script", cursive;
  background-color: #652f17;
  font-size: 40px;
  padding: 20px;
  font-weight: bold;
  color: white;
}

main {
  height: 700px;
  font-family: "Dancing Script", cursive;
  background-image: url("../images/sunset.jpg");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  margin: 0px;
  color: white;
  font-size: 4em;
}

.info {
  height: 300px;
  background-color: #652f17;
  padding: 50px;
  text-align: center;
}

h2 {
  margin: 0px;
  color: white;
  font-size: 3em;
}

p {
  color: white;
  font-size: 1.5em;
}

.hotel {
  display: flex;
  height: 400px;
}

.hotel > div {
  background-size: cover;
  padding: 50px;
  text-align: center;
}

.hotel-1 {
  background-image: url("../images/hotel-1.jpg");
}

.hotel-2 {
  background-image: url("../images/hotel-2.jpg");
}

footer {
  height: 40px;
  background-color: #652f17;
  color: white;
  font-weight: bold;
  text-align: center;
  padding-top: 30px;
}
