body {
    background: brown;
    color: cyan;
}

div h1{
    color: green;
}

h1 {
    color: yellow;
}

p{
    color: blue;
}

#hello {
    color: burlywood;
}

.dog {
    font-size: larger;
    color: chartreuse;
}

.cat {
    background: wheat;
    color: blueviolet;
}

.bird {
    font-weight: bold;
}