$font-stack: Helvetica, sans-serif;
$primary-color: rgb(51, 51, 51);
$background-color: rgb(50, 50, 50);

body {
  font: 100% $font-stack;
  color: $primary-color;
  background-color: $background-color;
}

p {
  ul {
    .cat {
      color: $primary-color;
    }
  }
}
